$fs6:px2rem(6);
$fs5:px2rem(5);
$fs9:px2rem(9);
$fs9:px2rem(11);
$fs12:px2rem(12);
$fs13:px2rem(13);
$fs14:px2rem(14);
$fs15:px2rem(15);
$fs16:px2rem(16);
$fs17:px2rem(17);
$fs18:px2rem(18);
$fs19:px2rem(19);
$fs20:px2rem(20);
$fs22:px2rem(22);
$fs24:px2rem(24);
$fs26:px2rem(26);
$fs28:px2rem(28);
$fs30:px2rem(30);
$fs32:px2rem(32);

.font14 {
    font-size: $fs14;
}
.font16 {
    font-size: $fs16;
}

.font18 {
    font-size: $fs18;
}

.font20 {
    font-size: $fs20;
}

.font22 {
    font-size: $fs22;
}

.font24 {
    font-size: $fs24;
}

.font26 {
    font-size: $fs26;
}

.font28 {
    font-size: $fs28;
}

.font30 {
    font-size: $fs30;
}

.font32 {
    font-size: $fs32;
}