$mainC: #1d6ee9; //主色
$blueC: #c2d7f7; //灰蓝
$blueColor:#2695F1; //蓝色
$redC: #f54048; //红色
$yellowC: #ff8d06; //黄色
$minYellow: #E9CA1D; //浅黄
$oringM: #EE921A; //橘
$greenC: #26fdb6; //绿色
$whiteC: #ffffff; //白色
$blueW: #d1e1ff; //蓝白
$skyblue: #a7ccff; //浅蓝
$miniRed: #fb545b; //淡红
$maxYellow: #ff8d06; //深黄
$blueG: #00ffff; //绿蓝
$blueK: #56A2FF; //蓝2

// 表格颜色
$tableColor: #fff; //表格字
$tableTrBg: rgba(20, 83, 174, 0.8); //表头背景
$tableTd: #000;

// 选择框颜色
$selectBg: rgba(34, 51, 76, 0.8); //背景
// $select_color: #2ae2ea; //框内字体
$selectChildBg: rgba(34, 51, 76, 0.8); //下拉背景
$borderB: px2rem(1) solid #5476aa; //分割线

// 分块主题颜色
$laMore: #afcdff; //表格背景

// 弹窗颜色
$borderPop: px2rem(1) solid #1952af;
$bgPop: rgba(24, 28, 23, 0.5);